<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <App3.Properties.Settings>
            <setting name="pfadDeskOK" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor1" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor2" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor3" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor4" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM1" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM2" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM3" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM4" serializeAs="String">
                <value />
            </setting>
        </App3.Properties.Settings>
    </userSettings>
</configuration>