<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIM_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<MIM_Tool.Properties.Settings>
            <setting name="pfadDeskOK" serializeAs="String">
                <value>C:\Users\%username%\Documents\DSM_Files</value>
            </setting>
            <setting name="InfoMonitor1" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor2" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor3" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoMonitor4" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM1" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM2" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM3" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadM4" serializeAs="String">
                <value />
            </setting>
            <setting name="eUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="eDeskOkVers" serializeAs="String">
                <value />
            </setting>
            <setting name="eDeskOkDownloadReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkDownloadDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkDownloadDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eDeskOkSavePosReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkSavePosDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkSavePosDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eDeskOkDataReedReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkDataReedDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eDeskOkDataReedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eDeskOkLastSave" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskOkData" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskOkDataTrim" serializeAs="String">
                <value />
            </setting>
            <setting name="DeskIconPfadMTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorVorhanden1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorAktiv1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsZugewiesen1" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorIconsVerstaut1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsCount1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eMonitor1" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorVorhanden2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorAktiv2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsZugewiesen2" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorIconsVerstaut2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsCount2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eMonitor2" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorVorhanden3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorAktiv3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsZugewiesen3" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorIconsVerstaut3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsCount3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eMonitor3" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorVorhanden4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorAktiv4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsZugewiesen4" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorIconsVerstaut4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMonitorIconsCount4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eMonitor4" serializeAs="String">
                <value />
            </setting>
            <setting name="eMonitorIconsCountTemp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reserve" serializeAs="String">
                <value />
            </setting>
            <setting name="eMultiMonVers" serializeAs="String">
                <value />
            </setting>
            <setting name="eMultiMonDownloadReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonDownloadDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonDownloadDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eMultiMonSavePosReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonSavePosDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonSavePosDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eMultiMonSaveDataReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonSaveDataDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eMultiMonSaveDataDate" serializeAs="String">
                <value />
            </setting>
            <setting name="eMultiMonLastSave" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonData" serializeAs="String">
                <value />
            </setting>
            <setting name="reserve2" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonDataTrim1" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonDataTrim2" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonDataTrim3" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiMonDataTrim4" serializeAs="String">
                <value />
            </setting>
            <setting name="reserve3" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectetMonitor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Inizialisiert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b1" serializeAs="String">
                <value />
            </setting>
            <setting name="b2" serializeAs="String">
                <value />
            </setting>
            <setting name="b" serializeAs="String">
                <value />
            </setting>
            <setting name="b3" serializeAs="String">
                <value />
            </setting>
            <setting name="b4" serializeAs="String">
                <value />
            </setting>
            <setting name="b5" serializeAs="String">
                <value />
            </setting>
            <setting name="b6" serializeAs="String">
                <value />
            </setting>
            <setting name="b7" serializeAs="String">
                <value />
            </setting>
            <setting name="b8" serializeAs="String">
                <value />
            </setting>
            <setting name="b9" serializeAs="String">
                <value />
            </setting>
        </MIM_Tool.Properties.Settings>
    </userSettings>
</configuration>